<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="default"
>
<head>
    <title>Add User</title>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
</head>
<body>
<div class="container">
    <div layout:fragment="content" class="row">
        <div class="col-xs-8 col-md-8">
            <h3>
                <a href="/user" class="btn btn-lg btn-dark">
                    <span class="glyphicon glyphicon-list"></span>Show Users</a>
            </h3>
            <h2>Add User</h2>
            <form action="/save">

                <div class="form-group">
                    <label for="name">User Name:</label
                    ><input type="text" class="form-control" name="name"/>
                </div>

                <div class="form-group">
                    <label for="email">User Email</label
                    ><input type="email" class="form-control" name="email"/>
                </div>

                <div class="form-group">
                    <label for="ville">User Ville</label
                    ><input type="text" class="form-control" name="ville"/>
                </div>

                <div class="form-group">
                    <label for="login">User Login</label
                    ><input type="text" class="form-control" name="login"/>
                </div>

                <div class="form-group">
                    <label for="pass">User Pass</label
                    ><input type="password" class="form-control" name="pass"/>
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"
></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
